MONGO_URI=mongodb://username:password@localhost:27017
MONGO_DB=birds


MINIO_ENDPOINT=localhost:0000
MINIO_ACCESS_KEY=username
MINIO_SECRET_KEY=password
MINIO_BUCKET=bird-audio

KAFKA_SERVER=localhost:0000
KAFKA_TOPIC=bird-observations

# chenge username, password and localhost port numbers